# Dependency directories
node_modules/
# Compiled output
build/
dist/
# Environment variables
.env
# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
# macOS
.DS_Store
# Logs
*.log